<app-navbar></app-navbar>
<div class="guides">
    <div class="container">
        <div class="row">
            <div data-aos="zoom-out"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <h4>Choose anywhere <br>
                    you’d like to be</h4>
                <h5>Lorem Ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei usmod <br>tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea<br> commodo consequat. Duis aute irure dolor in repre henderit in
                    voluptate <br>velit esse.
                </p>
                <h5>Lorem Ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei usmod <br>tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea<br> commodo consequat. Duis aute irure dolor in repre henderit in
                    voluptate <br>velit esse.
                </p>

            </div>


            <div data-aos="zoom-out"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out" class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <img src="../../assets/images/guidesR.jpg" alt="guide">
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>