/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Cardo';
    src: url('./assets/fonts/cardoB/Cardo-Bold.woff2') format('woff2'),
        url('./assets/fonts/cardoB/Cardo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/latoR/Lato-Regular.woff2') format('woff2'),
        url('./assets/fonts/latoR/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'latoBlack';
    src: url('./assets/fonts/latoBL/Lato-Black.woff2') format('woff2'),
        url('./assets/fonts/latoBL/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}






.container{
    width: 1210px;
    margin: 0 auto;
}