<app-navbar></app-navbar>
<div class="about">
    <div class="container">
        <div class="row">
            <h4>Welcome to Our Company</h4>
            <b><ins>Travel with AWA Tour and Travels - Kashmir to Kanyakumari Travel Package </ins></b>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">

                <i>KASHMIR</i>
                <a href="https://www.google.com/search?q=kashmir&rlz=1C1RXQR_enIN1067IN1067&oq=kashmir&gs_lcrp=EgZjaHJvbWUqBwgAEAAYjwIyBwgAEAAYjwIyDwgBEC4YQxiDARixAxiKBTIGCAIQRRhAMgwIAxAuGEMYsQMYigUyCQgEEC4YQxiKBTIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDE3NTBqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#ip=1"
                    target="_blank"> <img src="../../assets/images/kashmir.jpg" height="365px" alt="kashmir"></a>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">

                <em>IN WINTER</em>
                <a  href="https://www.google.com/search?q=kashmir&sca_esv=566347325&rlz=1C1RXQR_enIN1067IN1067&tbm=isch&sxsrf=AM9HkKlYBWs8ANPfbI3FnW3NBIMufncV_Q:1695062265477&source=lnms&sa=X&sqi=2&ved=2ahUKEwiCwdKB57SBAxXo9zgGHd24DkgQ_AUoAnoECAIQBA&biw=1280&bih=595&dpr=1.5"
                    target="_blank"><img src="../../assets/images/kashmir3" alt="kashmir3"></a>
            </div>
            <p>We are members of Kashmir Tour and Travel Association and approved by Government of Jammu and Kashmir
                and
                licensed by Tourism Department of Kashmir. Our made expertise of 28 years and an expert team arrange
                your vacation during an admirable way. If you're visiting Jammu and Kashmir, our trained team can
                make
                sure that you get to explore the Incredible Kashmir, From destinations to holiday to sightseeing,
                everything are going to be perfectly planned Travel with Joy and obtain your expectations! Joy
                Travels
                offer best travel packages to destinations everywhere to Jammu and Kashmir. We have got packages to
                suit
                the discerning traveler's budget and savor. Book your dream vacation online. Supported quality and
                proposals of our travel consultants, we have a tendency to welcome you to decide on from holidays
                packages and customize them according to your plan.</p>
            <br> <br>

        </div>
        <br>
        <span>KANYAKUMARI</span>
        <div data-aos="zoom-out"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="2500"
        data-aos-easing="ease-in-out">
        <a href="https://www.google.com/search?q=kanyakumari&rlz=1C1RXQR_enIN1067IN1067&oq=&gs_lcrp=EgZjaHJvbWUqCQgCECMYJxjqAjIJCAAQIxgnGOoCMgkIARAjGCcY6gIyCQgCECMYJxjqAjIJCAMQIxgnGOoCMgkIBBAjGCcY6gIyCQgFECMYJxjqAjIJCAYQIxgnGOoCMgkIBxAjGCcY6gLSAQkxNDgzajBqMTWoAgiwAgE&sourceid=chrome&ie=UTF-8"
            target="_blank"><img src="../../assets/images/kanyakumari.jpg" alt="kanyakumari"></a>
        </div>
        <p>Kanyakumari is a coastal town in the state of Tamil Nadu on India's southern tip. Jutting into the Laccadive
            Sea, the town was known as Cape Comorin during British rule and is popular for watching sunrise and sunset
            over the ocean. It's also a noted pilgrimage site thanks to its Bagavathi Amman Temple, dedicated to a
            consort of Shiva, and its Our Lady of Ransom Church, a center of Indian Catholicism.</p>

    <h5>About Us:- </h5>
    <p><b>F</b>ounded in 1984 and based in Srinagar India, Joy Tour and Travels is one stop travel house. Joy
        Travels is
        not just a name, but it's a commitment. We are a reputed and professionally managed company which
        has
        been in the business of Travel & Entertainment and Event Management for over 28 years. <br>
        <br>Exploring the Jammu and Kashmir can be one of the most rewarding experiences in life. However,
        planning a trip can be tremendously frustrating especially when one doesn't know where to start. We
        understand travel needs of all and deliver the best through meticulous planning. Joy Travels brings
        together a highly trained team of individuals with a combined management experience of over two
        decades
        in the travel industry. A team which has the confidence and the expertise to handle the most complex
        and
        challenging tasks they are faced with. Our rich experience helps us to understand your needs and
        give
        you a product that suits your requirement. Our linkages in the travel domain ensure that we provide
        our
        travelers and corporate clients with the best deals.
    </p>
    <br>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d63202.673751642214!2d77.50830170113123!3d8.084434118240205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m1!2skashmir!4m5!1s0x3b04ed3d2a087861%3A0x1e790e896aeffaa0!2sKanyakumari%2C%20Tamil%20Nadu!3m2!1d8.0843512!2d77.5495019!5e0!3m2!1sen!2sin!4v1695060471543!5m2!1sen!2sin"
                width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><ins>Our Services:-</ins></h5>
            <ul>
                <li><a href="">Domestic and International Air Travel</a></li>
                <li><a href="">Domestic Holidays</a></li>
                <li><a href="">Inbound Travel Arrangements</a></li>
                <li><a href="">Hotel Bookings</a></li>
                <li><a href="">Urgent Confirmation</a></li>
                <li><a href="">Car Rentals</a></li>
                <li><a href="">Transportation</a></li>
                <li><a href="">Conferences & Seminars</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>
<!-- <app-accsliders></app-accsliders> -->
<app-footer></app-footer>