<app-navbar></app-navbar>
<div class="flights">
    <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="3000"
    data-aos-easing="ease-in-out" class="container">
        <div data-aos="zoom-in"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="3000"
        data-aos-easing="ease-in-out" class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/flightLeft.jpg" alt="manishi">
                <div class="spacer"></div>
                <h4>Lorem ipsum <br>
                    dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/flightMiddle.jpg" alt="manishi">
                <div class="spacer"></div>
                <h4>Lorem ipsum <br>
                    dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/flightRight.jpg" alt="manishi">
                <div class="spacer"></div>
                <h4>Lorem ipsum <br>
                    dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei usmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum sus pendisse ultrices gravida.</p>
            </div>
        </div>
        <div class="plane">
            <img src="../../assets/images/Airplace Icon1.png" alt="planeIcon">
            <h4>See places you’ve <br>
                <ins><i>never</i></ins> been before
            </h4>
            <p>Lorem Ipsum Dolor | Lorem Ipsum Dolor | Lorem Ipsum Dolor</p>
        </div>
        <div class="flights-final">
            <div class="row">
                <div data-aos="fade-left"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="3000"
                data-aos-easing="ease-in-out" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 tape">
                    <img src="../../assets/images/Tape.png" width="565px" height="775px" alt="image tape">
                </div>

                <div data-aos="fade-right"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="3000"
                data-aos-easing="ease-in-out" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="right_path">
                        <img src="../../assets/images/mountain.jpg" alt="mountain">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6  col-md-6 col-xs-12 col-sm-12">
                                <h4> <ins>Lorem ipsum <br>
                                        dolor sit amet <br>
                                        consectetur <br>
                                        adipiscing elit <br>
                                        sed do ei </ins></h4>
                            </div>
                            <div class="col-xl-6 col-lg-6  col-md-6 col-xs-12 col-sm-12 para">
                                <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod enim ad
                                    minim veniam, quis nostrud.
                                </p>
                                <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    eu fugiat nulla
                                    pariatur.
                                </p>
                                <div class="arrow_img">
                                <img src="../../assets/images/arrow.png" alt="arrow">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>