<div class="memory">
    <div data-aos="zoom-in"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="2500"
    data-aos-easing="ease-in-out" class="container">

        <h2>Create a memory
            to remember</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do ei <br> usmod tempor incididunt ut labore et
            dolore magna aliqua. Quis <br> ipsum sus pendisse ultrices gravida. </p>
            <button class="btn btn-outline-light px-5 py-2" type="submit">My Travel Logs</button>
    </div>
</div>
<app-footer></app-footer>