<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h4>My Log <br>Travels</h4>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h5>Quick Links</h5>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href=""></a>My Travel Logs</li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <ul>
                            <li><a href="">Travels</a></li>
                            <li><a href="">Promo Flights</a></li>
                            <li><a href=""></a>Travel Routes</li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <ul>
                            <li><a href="">Recommendations</a></li>
                            <li><a href="">Guides</a></li>
                            <li><a href=""></a>Blogs</li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <ul>
                            <li><a href="">Mission Statement</a></li>
                            <li><a href="">The Team</a></li>
                            <li><a href=""></a>Contact Us</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <p>2021 - 2022 My Log Travels. All Rights Reserved.</p>
    </div>
</footer>